@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.button {
  background-color: #0067AB;
  color: white;
  border-color: transparent;
  padding: 5px 10px  5px 10px;
  border-radius: 16px;
  font-family: 'Roboto', sans-serif;
}
